<div>
    <sb-t ns="cep" key="{{property}}" placeholder="p-{{property}}"></sb-t> 
    {{{t-operator operator}}} {{{sb 'selectors-operator-equals' operator}}}
    {{{rest "group" 1 "GroupPK:1"}}} {{{rest "group" 2 "GroupPK:1"}}} {{{rest "group" 13 "GroupPK:1"}}}
    {{value}}
    </div>